@import "./../../colors.scss";

.rules-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    flex: 1 50%;
    color: $dark-text;
  }

  .close-icon {
    flex: 1 50%;
    cursor: pointer;
    text-align: right;
    color: $header-outline;
  }
  img {
    flex: 1 100%;
    justify-self: center;
    margin-top: 2em;
  }
}

@media screen and (max-width: 480px) {
  .rules-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;
   max-width: 100vw;
    h1, .close-icon, img {
      flex: 1 100%;
     height: 33%;
      margin: 2em auto;
    }
  }
  .close-icon {
    display: flex;
    align-items: flex-end;
    order: 3;
    vertical-align: text-bottom;
  }
}
