
<div class="game-container">
    <div class="score-container">
        <img src="./../assets/images/logo.svg" alt="logo"/>
        <div class="game-score">
            <p>SCORE</p>
            <h1>{{ score }}</h1>
        </div>
    </div>
    <div class="game-board-container">
        <app-game-board (scores)="setAttempts($event)"></app-game-board>
    </div>
    <div class="rules">
        <app-custom-button type="button" [message]="title" (click)="onRulesOpen()"></app-custom-button>
    </div>
    
</div>

<div *ngIf="showRules" class="visible-rules">
    <app-rules (isClosed)="onClose($event)"></app-rules>
</div>

