$scissors-shadow: hsl(39, 89%, 49%);
$scissors-gradient: hsl(39, 89%, 53%);

$paper-shadow: hsl(230, 89%, 62%);
$paper-gradient: hsl(230, 89%, 65%);
$paper-glow: hsl(230, 40%, 65%);

$rock-shadow: hsl(349, 71%, 52%);
$rock-gradient: hsl(349, 70%, 56%);

$lizard-gradient: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// $gradient-halo: hsla(217, 16%, 90%, 0.205);
// $gradient-halo2: hsla(213, 18%, 90%, 0.171);



$gradient-halo: rgba(56, 64, 87, 0.8);
$gradient-halo2: rgba(56, 64, 87, 0.5);
$gradient-halo3: rgba(56, 64, 87, 0.2);

